<div xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="employee-input-form">
		<div class="row mb-4">
			<div class="col">
				<label class="h6" th:for="firstName">Tên</label><br>
				<input th:readonly="${readOnly}" th:errorClass="error-input" th:field="*{firstName}" type="text"
				       autofocus class="form-control"/>
				<ul th:if="${#fields.hasErrors('firstName')}">
					<li th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>

			<div class="col">
				<label class="h6" th:for="lastName">Họ</label><br>
				<input th:readonly="${readOnly}" th:errorClass="error-input" th:field="*{lastName}"
				       class="form-control" type="text"/>
				<ul th:if="${#fields.hasErrors('lastName')}">
					<li th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>
		</div>

		<div class="row mb-4">
			<div class="col">
				<label class="h6" th:for="gender">Giới tính</label><br>
				<select th:disabled="${readOnly}" th:field="*{gender}" class="form-control">
					<option th:value="false" th:default>Nam</option>
					<option th:value="true">Nữ</option>
				</select>
				<ul th:if="${#fields.hasErrors('gender')}">
					<li th:each="err : ${#fields.errors('gender')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>

			<div class="col">
				<label class="h6" th:for="birthday">Ngày sinh</label><br>
				<input th:readonly="${readOnly}" th:errorClass="error-input" th:field="*{birthday}"
				       class="form-control" type="date"/>
				<ul th:if="${#fields.hasErrors('birthday')}">
					<li th:each="err : ${#fields.errors('birthday')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>
		</div>

		<div class="row mb-4">
			<div class="col">
				<label class="h6" th:for="IDCard">CCCD</label><br>
				<input th:readonly="${readOnly}" th:errorClass="error-input" th:field="*{IDCard}"
				       class="form-control" type="number"/>
				<ul th:if="${#fields.hasErrors('IDCard')}">
					<li th:each="err : ${#fields.errors('IDCard')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>

			<div class="col">
				<label class="h6" th:for="phone">Số điện thoại</label><br>
				<input th:readonly="${readOnly}" th:errorClass="error-input" th:field="*{phone}"
				       class="form-control" type="number"/>
				<ul th:if="${#fields.hasErrors('phone')}">
					<li th:each="err : ${#fields.errors('phone')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>
		</div>

		<div class="row mb-4">
			<div class="col">
				<label class="h6" th:for="email">Email</label><br>
				<input th:readonly="${readOnly}" th:errorClass="error-input" th:field="*{email}"
				       class="form-control" type="email"/>
				<ul th:if="${#fields.hasErrors('email')}">
					<li th:each="err : ${#fields.errors('email')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>

			<div class="col">
				<label class="h6" th:for="address">Địa chỉ</label><br>
				<input th:readonly="${readOnly}" th:errorClass="error-input" th:field="*{address}"
				       class="form-control" type="text"/>
				<ul th:if="${#fields.hasErrors('address')}">
					<li th:each="err : ${#fields.errors('address')}" th:text="${err}">Input is incorrect</li>
				</ul>
			</div>
		</div>
	</th:block>

</div>