body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}


.background {
    background-image: linear-gradient(to right, #0000005c, #0000005c),
    url("../image/bg.jpg");
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -2;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

.title-table{
	color: rgb(74, 74, 74) !important;
}

.frames{
	width: 100%;
}

.CardID{
	cursor: auto !important;
}

.create-form{
    width: 42rem;
    /* height: 35rem; */
    /*box-shadow: 3px 2px 2px 3px hsl(220deg 60% 50% / 0.333);*/
    padding: 2rem;
    border-radius: 8px;
    margin: 1px auto;
     background: linear-gradient(to right, #ece9e6, #ffffff);
}	

.create-form ul{
	padding: 0;
	margin-bottom: 5px;
	position: relative;
}

.create-form li{
	list-style: none;
	color: red;
	margin-top: 5px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: initial;
	font-size: 12px;
	position: absolute;
}
.create-form li:nth-child(2){
	display: none;
}
