<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<th:block th:insert="~{common/_layout::metadata('404')}" />
</head>

<body>
	<th:block th:insert="~{/common/_layout::navbar}" />
	<div class="background"></div>
	<div class="frames d-flex mt-4">

		<div class="create-form">
			<h2 class="mb-4">Error 404</h2 >
			<div class="title" th:utext="${message}"></div >
			<a th:href="@{/user/customer}" class="btn btn-info mt-4">Quay lại</a>
		</div>
	</div>
	<th:block th:insert="~{/common/_layout::js-lib}" />
</body>

</html>