<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="~{common/_layout::metadata('Tài khoản tiền gửi mới')}"/>
</head>

<body>
<th:block th:insert="~{/common/_layout::navbar}"/>

<h1>Tài khoản tiền gửi mới</h1>

<form method="post" th:action="@{/user/deposit-account/add}" th:object="${depositAccount}">
	<th:block th:insert="~{common/_customer::holder-info}" />

	<h2>Thông tin tài khoản</h2>

	<div>
		<label th:for="currency">Loại tiền tệ</label><br>
		<select th:field="*{currency}">
			<option th:value="VND">VND</option>
			<option th:value="USD">USD</option>
		</select>
		<ul th:if="${#fields.hasErrors('currency')}">
			<li th:each="err : ${#fields.errors('currency')}" th:text="${err}">Input is incorrect</li>
		</ul>
	</div>

	<div>
		<label th:for="period">Kì hạn</label><br>
		<select th:field="*{period}">
			<option th:each="period : ${periods}"
			        th:value="${period}"
			        th:text="${period + ' tháng'}">Wireframe
			</option>
		</select>
		<ul th:if="${#fields.hasErrors('period')}">
			<li th:each="err : ${#fields.errors('period')}" th:text="${err}">Input is incorrect</li>
		</ul>
	</div>

	<div>
		Lãi suất<br>
		<p id="interestRate"></p>
	</div>

	<div>
		<label th:for="balance">Số tiền gửi</label><br>
		<input th:errorClass="error-input" th:field="*{balance}" type="number"/>
		<ul th:if="${#fields.hasErrors('balance')}">
			<li th:each="err : ${#fields.errors('balance')}" th:text="${err}">Input is incorrect</li>
		</ul>
	</div>

	<input type="submit" value="Gửi"/>
</form>

<script th:inline="javascript">
	/*<![CDATA[*/
	const interestRateReferences = [[${interestRateReferences}]];

	const interestRateElement = document.getElementById("interestRate");
	const currencyElement = document.getElementById("currency");
	const periodElement = document.getElementById("period");

	currencyAndPeriodOnChange();
	currencyElement.onchange = currencyAndPeriodOnChange;
	periodElement.onchange = currencyAndPeriodOnChange;

	function currencyAndPeriodOnChange() {
		const currency = currencyElement.value;
		const period = parseInt(periodElement.value);

		const interestRate = interestRateReferences.find(element => (element.currency === currency && element.period === period)).interestRate;
		interestRateElement.innerText = (interestRate !== undefined) ? interestRate + " %/năm" : "Không hỗ trợ";
	}
	/*]]>*/
</script>

<th:block th:insert="~{/common/_layout::js-lib}"/>
</body>

</html>