<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="~{common/_layout::metadata('Tài khoản tiền gửi mới')}"/>
</head>

<body>
<th:block th:insert="~{common/_layout::navbar}"/>
<div class="background"></div>
<div class="frames mt-4">

	<div class="create-form">
		<h2 class="mb-4">Tài khoản tiền gửi mới</h2>
		<form method="post" th:action="@{/account/deposit-account/add}" th:object="${depositAccount}">
			<th:block th:insert="~{common/_customer::holder-info}"/>

			<h4>Thông tin tài khoản</h4>

			<div class="row mb-2">
				<div class="col">
					<label class="h6" th:for="currency">Loại tiền tệ :</label><br>
					<select th:field="*{currency}" class="form-control">
						<option th:value="VND">VND</option>
						<option th:value="USD">USD</option>
					</select>
					<ul th:if="${#fields.hasErrors('currency')}">
						<li th:each="err : ${#fields.errors('currency')}" th:text="${err}">Input is incorrect</li>
					</ul>
				</div>

				<div class="col">
					<label class="h6" th:for="period">Kì hạn :</label><br>
					<select th:field="*{period}" class="form-control">
						<option th:each="period : ${periods}"
						        th:value="${period}"
						        th:text="${(period != 0) ? period + ' tháng' : 'Không kì hạn'}">Wireframe
						</option>
					</select>
					<ul th:if="${#fields.hasErrors('period')}">
						<li th:each="err : ${#fields.errors('period')}" th:text="${err}">Input is incorrect</li>
					</ul>
				</div>
			</div>
			<br><p th:if="${errorInterest != null}" th:text="${errorInterest}"></p>

			<div class="row mb-2">
				<div class="col">
					<h6>Lãi suất :</h6>
					<p class="ml-1" id="interestRate"></p>
				</div>
			</div>

			<div class="mb-4">
				<label class="h6" th:for="originalAmount">Số tiền gửi :&nbsp&nbsp</label><p class="d-inline-block" id="originalAmountOutput"></p><br>
				<input th:errorClass="error-input" th:field="*{originalAmount}" class="form-control" type="number"/>
				<ul th:if="${#fields.hasErrors('originalAmount') || errorOriginalAmount != null}">
					<li th:each="err : ${#fields.errors('originalAmount')}" th:text="${err}">Input is incorrect</li>
					<li th:if="${errorOriginalAmount != null}" th:text="${errorOriginalAmount}"></li>
				</ul>
			</div>

			<input type="submit" class="btn btn-success" value="Gửi"/>
			<a th:href="@{'/account/customer/detail?IDCard=' + ${depositAccount.holder.IDCard}}" class="btn btn-secondary ml-2">Hủy</a>
		</form>
	</div>
</div>
<script th:inline="javascript">
	/*<![CDATA[*/
	/* Interest rate reference */
	const interestRateReferences = [[${interestRateReferences}]];
	const interestRateElement = document.getElementById("interestRate");
	const currencyElement = document.getElementById("currency");
	const periodElement = document.getElementById("period");

	currencyAndPeriodOnChange();
	currencyElement.addEventListener("change", currencyAndPeriodOnChange);
	periodElement.onchange = currencyAndPeriodOnChange;

	function currencyAndPeriodOnChange(e) {
		const currency = currencyElement.value;
		const period = parseInt(periodElement.value);

		const interestRate = interestRateReferences.find(element => (element.currency === currency && element.period === period)).interestRate;
		interestRateElement.innerText = (interestRate !== undefined) ? interestRate + " %/năm" : "Không hỗ trợ";
	}
	/* Interest rate reference */

	/* Format Currency */
	const balanceInput = document.getElementById("originalAmount");
	const balanceOutput = document.getElementById("originalAmountOutput");
	balanceInput.oninput = formatCurrency;
	currencyElement.addEventListener("change", formatCurrency);

	function formatCurrency(){
		let balanceValue = parseInt(balanceInput.value);
		if (isNaN(balanceValue)) balanceValue = 0;
		const currencyType = currencyElement.value;
		const locale = (currencyType === "VND") ? "vi-VN" : "en-US";
		const options = {style: 'currency', currency: currencyType, maximumFractionDigits: 0};
		balanceOutput.innerText = balanceValue.toLocaleString(locale, options);
	}
	/* Format Currency */

	/*]]>*/
</script>

<th:block th:insert="~{common/_layout::js-lib}"/>
</body>

</html>