<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="~{common/_layout::metadata('Khách hàng mới')}"/>
</head>

<body>
<th:block th:insert="~{common/_layout::navbar}"/>
<div class="background"></div>
<div class="frames mt-4">
	<div class="create-form">
		<h2 class="mb-4">Khách hàng mới</h2>
		<form method="post" class="form-group" th:action="@{/account/customer/add}" th:object="${customer}">
			<th:block th:insert="~{/common/_customer::customer-input-form}"/>
			<input type="submit" value="Tạo khách hàng" class="btn btn-success"/>
			<a th:href="@{/account/customer}" class="btn btn-secondary">Hủy</a>
		</form>
	</div>
</div>

<th:block th:insert="~{common/_layout::js-lib}"/>
</body>

</html>