<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<th:block th:insert="~{/common/_layout::metadata('Hồ sơ khách hàng')}"/>
</head>

<body>
<th:block th:insert="~{/common/_layout::navbar}"/>
<div class="background"></div>
<div class="frames d-flex mt-4">

	<div class="create-form">
		<h2 class=" mb-4">Hồ sơ khách hàng</h2>
		<form method="post" th:action="@{/user/customer/update}" th:object="${customer}">

			<input hidden th:field="*{id}"/>

			<div>
				<h6>
					Mã khách hàng :
				</h6>
				<p th:text="*{id}"></p>
			</div>

			<th:block th:insert="~{/common/_customer::customer-input-form}"/>

			<div class="row">
				<div class="col">
					<h6>
						Ngày tạo :
					</h6>
					<p th:text="${customer.createdAt.format(dateFormatter)}"></p>
				</div>
				<div class="col">
					<h6>
						Ngày sửa lần cuối :
					</h6>
					<p th:text="${customer.getLastModifiedAt.format(dateFormatter)}"></p>
				</div>

			</div>

			<div class="row">
				<div class="col">
					<h6>
						Sửa lần cuối bởi nhân viên có mã :
					</h6>
					<p th:text="*{lastModifiedBy.id}"></p>
				</div>
			</div>

			<button id="editBtn" th:hidden="${!readOnly}" type="button"
			        class="btn btn-warning">Sửa
			</button>

			<input id="updateBtn" th:hidden="${readOnly}" type="submit" class="btn btn-success"
			       value="Cập nhật">

			<a id="cancelBtn" th:hidden="${readOnly}" th:href="@{'/user/customer/detail?IDCard=' + *{IDCard}}" class="btn btn-secondary ml-2">Hủy</a>

			<a th:href="@{/user/customer}" class="btn btn-info ml-2">Quay lại</a>

		</form>
	</div>

	<div class="create-form ml-4">
		<h2 class=" mb-4">Tài khoản tiền gửi</h2>
		<a th:href="@{'/user/deposit-account/add?customerID=' + ${customer.id}}" class="btn btn-success mb-4">Thêm
			tài khoản tiền gửi mới</a>

		<table class="table-bordered table table-hover title title-table">
			<thead>
			<tr class="table-active">
				<th scope="col">Số tài khoản</th>
				<th scope="col" style="width: 20%;">Số dư</th>
				<th scope="col">Loại</th>
				<th scope="col" style="width: 20%;">Trạng thái</th>
				<th scope="col" style="width: 20%"></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="depositAccount : ${customer.depositAccountSet}">
				<td th:text="${depositAccount.id}"></td>
				<td th:text="${(depositAccount.currency.toString() == 'VND') ? vndFormatter.format(depositAccount.originalAmount + depositAccount.interest) : usdFormatter.format(depositAccount.originalAmount + depositAccount.interest)}"></td>
				<td th:text="${depositAccount.period == 0 ? 'Không kì hạn' : ('Có kì hạn: ' + depositAccount.period + ' tháng')}">
				</td>
				<td th:class="${depositAccount.finalSettlement ? 'text-danger' : 'text-success'}" th:text="${depositAccount.finalSettlement ? 'Đã tất toán' : 'Đang hoạt động'}"></td>
				<td ><a class="btn btn-info"
				       th:href="@{'/user/deposit-account/detail?depositAccountID=' + ${depositAccount.id}}">Chi
					tiết</a></td >
			</tr>
			</tbody>
		</table>
	</div>
</div>
<script th:inline="javascript">
	/*<![CDATA[*/
	const allInputElements = document.getElementsByTagName("input");
	const genderSelect = document.getElementById("gender");
	const editBtn = document.getElementById("editBtn");
	const updateBtn = document.getElementById("updateBtn");
	const cancelBtn = document.getElementById("cancelBtn");

	editBtn.onclick = () => {
		for (const inputElement of allInputElements) {
			inputElement.readOnly = false;
		}
		genderSelect.toggleAttribute("disabled");
		updateBtn.hidden = false;
		cancelBtn.hidden = false;
		editBtn.hidden = true;
	};
	/*]]>*/
</script>

<th:block th:insert="~{/common/_layout::js-lib}"/>
</body>

</html>