<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<th:block th:insert="~{common/_layout::metadata('Khách hàng')}"/>
</head>

<body>
<th:block th:insert="~{common/_layout::navbar}"/>
<div class="background"></div>
<div class="frames mt-4">
	<div class="create-form">
		<h2 class='mb-4'>Khách hàng</h2>

		<a th:href="@{'/employee/customer/add'}" class="btn btn-success btn-add item">Khách hàng mới</a><br><br>

		<form th:action="@{/employee/customer/detail}" method="get" class="d-flex">
			<input autofocus name="IDCard" class="form-control col-6 CardID" type="number" required
			       placeholder="Số CCCD"/>
			<input type="submit" value="Tìm khách hàng" class="btn btn-info ml-4">
		</form>
	</div>
</div>

<th:block th:insert="~{common/_layout::js-lib}"/>

</body>

</html>