<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Customer Detail</title>
	<style>
		.border-table, .border-table th, .border-table td {
			border: 1px solid black;
		}
	</style>
</head>

<body>
<th:block th:include="/common/_menu"/>
<br>

<th:block th:include="/common/_sidebar"/>
<br>

<h2>Customer Detail</h2>

<form method="post" th:action="@{/user/customer/update}" th:object="${customer}">

	<div>
		ID<br>
		<p th:text="${customer.id}"></p>
	</div>

	<th:block th:include="/common/_customer-input-form"/>

	<div>
		Create at<br>
		<p th:text="${customer.createdAt}"></p>
	</div>

	<div>
		Last modified at<br>
		<p th:text="${customer.lastModifiedAt}"></p>
	</div>

	<div>
		Last modified by employee<br>
		<p th:text="${customer.lastModifiedBy.id}"></p>
	</div>

	<input type="submit" value="Update"/>

</form>

<h2>Deposit Account</h2>

<a th:href="@{'/user/deposit-account/add?customerID=' + ${customer.id}}">New Deposit Account</a>

<table class="border-table">
	<thead>
	<tr>
		<th>Account no</th>
		<th>Balance</th>
		<th>Type</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="depositAccount : ${customer.getDepositAccountSet()}">
		<td th:text="${depositAccount.id}"></td>
		<td th:text="${depositAccount.balance}"></td>
	</tr>
	</tbody>
</table>
</body>

</html>