<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<th:block th:insert="~{common/_layout::metadata('Gửi thêm tiền')}" />
</head>

<body>
	<th:block th:insert="~{common/_layout::navbar}" />
<div class="background"></div>
<div class="frames d-flex mt-4">

	<div class="create-form">
	<h2>Gửi thêm tiền</h2>
	<br>

	<form method="post" th:action="@{/account/deposit-account/deposit-extra}">
		<input hidden name="depositAccountID" type="number" th:value="${depositAccountID}" />
		<p class="text-danger">Số tiền phải là bội số của 100 000 &#8363; đối với VND</p >
		<p class="text-danger">Số tiền phải là bội số của $5 đối với USD</p >

		<label class="h6 title mt-4" for="amount">Số tiền gửi thêm:</label>
		<p class="d-inline-block" id="amountOutput"></p><br>
		<div class="d-flex">
		<input id="amount" class="form-control col-5" name="amount" type="number" placeholder="Nhập số tiền muốn gửi thêm" required />
		<input type="submit" class="btn btn-success ml-4" value="Gửi" />
		</div >
		<p class="text-danger" style="height: 2rem;"  th:if="${error != null}" th:utext="${error}"></p>
	</form>

	<a th:href="@{'/account/deposit-account/detail?depositAccountID=' + ${depositAccountID}}"
		class="btn btn-secondary mt-4">Hủy</a>
	</div>
</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		/* Format Currency */
		const amountInput = document.getElementById("amount");
		const amountOutput = document.getElementById("amountOutput");
		amountInput.oninput = formatCurrency;

		function formatCurrency() {
			let amountValue = parseInt(amountInput.value);
			if (isNaN(amountValue)) amountValue = 0;
			const currencyType = [[${currency}]];
			const locale = (currencyType === "VND") ? "vi-VN" : "en-US";
			const options = {style: 'currency', currency: currencyType, maximumFractionDigits: 0};
			amountOutput.innerText = amountValue.toLocaleString(locale, options);
		}
	/* Format Currency */
		/*]]>*/
	</script>
	<th:block th:insert="~{common/_layout::js-lib}" />
</body>

</html>