<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:insert="~{/common/_layout::metadata('Tất toán')}"/>
	<style>
		.border-table, .border-table th, .border-table td {
			border: 1px solid black;
		}
	</style>
</head>

<body>
<th:block th:insert="~{/common/_layout::navbar}"/>

<h1>Tất toán</h1>
<table class="border-table">
	<thead>
	<tr>
		<th></th>
		<th>Số ngày</th>
		<th>Lãi suất (%/năm)</th>
		<th>Công thức tiền lãi</th>
		<th th:text="${'Tiền lãi (' + depositAccount.currency + ')'}"></th>
		<th th:text="${'Số dư mới (' + depositAccount.currency + ')'}"></th>
	</tr>
	</thead>
	<tbody >
	<tr th:if="${depositAccount.period != 0}">
		<th th:text="${'Lãi kép theo kì hạn ' + depositAccount.period + ' tháng (1 tháng = 30 ngày)'}"></th>
		<td th:text="${timeDepositDays}"></td>
		<td th:text="${timeDepositInterestRate}"></td>
		<td></td>
		<td th:text="${timeDepositInterest}"></td>
		<td th:text="${balance1}"></td>
	</tr>
	<tr>
		<th>Lãi không kì hạn</th>
		<td th:text="${demandDepositDays}"></td>
		<td th:text="${demandDepositInterestRate}"></td>
		<td></td>
		<td th:text="${demandDepositInterest}"></td>
		<td th:text="${finalBalance}"></td>
	</tr>
	</tbody>
</table>
<br>
<h4 th:text="${'Tổng số tiền được tất toán: ' + amount}"></h4>

<a class="btn btn-success" href="javascript: document.verifyForm.submit()">Xác nhận</a>
<form name="verifyForm" method="post" th:action="@{/user/deposit-account/final-settlement}" hidden>
	<input name="depositAccountID" type="number" th:value="${depositAccount.id}"/>
</form>

<a th:href="@{'/user/deposit-account/detail?depositAccountID=' + ${depositAccount.id}}" class="btn btn-secondary ml-2">Hủy</a>

<th:block th:insert="~{/common/_layout::js-lib}"/>
</body>

</html>