<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
	<th:block th:insert="~{/common/_layout::metadata('Hồ sơ của tôi')}"/>
</head>
<body>
<th:block th:insert="~{/common/_layout::navbar}"/>

<div class="frames">
	<h1 class='title'>Hồ sơ của tôi</h1 >
	<h3>Xin chào <span th:utext="${#request.userPrincipal.name}"></span></h3>

	<p th:text="${myProfile}"></p>
</div >

<th:block th:insert="~{/common/_layout::js-lib}"/>
</body>
</html>